label: "{{ _aiida_computer.setup_label }}"
hostname: "{{ _aiida_computer.setup_hostname }}"
description: "{{ _aiida_computer.setup_description }}"
transport: "{{ _aiida_computer.setup_transport }}"
scheduler: "{{ _aiida_computer.setup_scheduler }}"
shebang: "{{ _aiida_computer.setup_shebang }}"
work_dir: "{{ _aiida_computer.setup_work_dir }}"
mpirun_command: "{{ _aiida_computer.setup_mpirun_command }}"
mpiprocs_per_machine: "{{ _aiida_computer.setup_mpiprocs_per_machine }}"
prepend_text: "{{ _aiida_computer.setup_prepend_text }}"
append_text: "{{ _aiida_computer.setup_append_text }}"
